In [38]:
import numpy as np
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error
import time
from tqdm import tqdm
import warnings

In [39]:
df = pd.read_csv("./data/AAME.csv")
df

             Date  Open  High   Low  Close  Adj Close  Volume
0      1980-03-17  0.00  4.05  3.85   3.85   3.213167   15000
1      1980-03-18  0.00  4.00  3.80   3.80   3.171437   10200
2      1980-03-19  0.00  4.05  3.85   3.85   3.213167   33500
3      1980-03-20  0.00  4.00  3.80   3.80   3.171437    8700
4      1980-03-21  0.00  3.95  3.75   3.75   3.129709   12700
...           ...   ...   ...   ...    ...        ...     ...
10093  2020-03-26  2.29  2.29  2.08   2.28   2.280000    1600
10094  2020-03-27  2.25  2.25  2.21   2.25   2.250000     500
10095  2020-03-30  2.25  2.25  2.13   2.13   2.130000     400
10096  2020-03-31  2.11  2.11  2.11   2.11   2.110000     300
10097  2020-04-01  2.11  2.15  2.11   2.15   2.150000     600

[10098 rows x 7 columns]

In [40]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,10098.0,2.479037,1.792743,0.000000,1.50000,2.410000,3.375000,13.800000
High,10098.0,3.638755,2.392151,0.437500,2.12500,3.010000,4.170000,15.800000
Low,10098.0,3.512713,2.349184,0.375000,2.00000,2.937500,4.050000,15.400000
Close,10098.0,3.576238,2.361792,0.437500,2.06250,3.000000,4.100000,15.800000
Adj Close,10098.0,3.245732,2.028279,0.404299,1.91291,2.772334,3.843033,13.881437
Volume,10098.0,7977.757972,16239.129044,0.000000,1000.00000,3300.000000,9000.000000,581500.000000

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10098 entries, 0 to 10097
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10098 non-null  object
 1   Open       10098 non-null  float64
 2   High       10098 non-null  float64
 3   Low        10098 non-null  float64
 4   Close      10098 non-null  float64
 5   Adj Close  10098 non-null  float64
 6   Volume     10098 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 552.4+ KB

In [42]:
col = ['Open', 'High', 'Low', 'Close']
dfs = df[col]
dfs

       Open  High   Low  Close
0      0.00  4.05  3.85   3.85
1      0.00  4.00  3.80   3.80
2      0.00  4.05  3.85   3.85
3      0.00  4.00  3.80   3.80
4      0.00  3.95  3.75   3.75
...     ...   ...   ...    ...
10093  2.29  2.29  2.08   2.28
10094  2.25  2.25  2.21   2.25
10095  2.25  2.25  2.13   2.13
10096  2.11  2.11  2.11   2.11
10097  2.11  2.15  2.11   2.15

[10098 rows x 4 columns]

In [43]:
dfs.isnull().sum()

Open     0
High     0
Low      0
Close    0
dtype: int64

In [44]:
from sklearn.preprocessing import MinMaxScaler

MMS = MinMaxScaler()
dfs_scaled = MMS.fit_transform(dfs)
dfs

       Open  High   Low  Close
0      0.00  4.05  3.85   3.85
1      0.00  4.00  3.80   3.80
2      0.00  4.05  3.85   3.85
3      0.00  4.00  3.80   3.80
4      0.00  3.95  3.75   3.75
...     ...   ...   ...    ...
10093  2.29  2.29  2.08   2.28
10094  2.25  2.25  2.21   2.25
10095  2.25  2.25  2.13   2.13
10096  2.11  2.11  2.11   2.11
10097  2.11  2.15  2.11   2.15

[10098 rows x 4 columns]

In [45]:
# X = dfs[['Open', 'High', 'Low']]
# y = dfs['Close']

# split_point = int(0.8 * len(X))

# X_train = X.iloc[:split_point]
# X_test = X.iloc[split_point:]
# y_train = y.iloc[:split_point]
# y_test = y.iloc[split_point:] 

# print(X_train.shape, y_train.shape)
# print(X_test.shape, y_test.shape)

In [46]:
def split_sequences(sequences, n_steps):
	X, y = list(), list()
	for i in range(len(sequences)):
    # find the end of this pattern
		end_ix = i + n_steps
		# check if we are beyond the dataset
		if end_ix > len(sequences):
			break
		# gather input and output parts of the pattern
		seq_x, seq_y = sequences[i:end_ix, :-1], sequences[end_ix-1, -1]
		X.append(seq_x)
		y.append(seq_y)
	return np.array(X), np.array(y)

In [47]:
X_seq, y_seq = split_sequences(dfs.to_numpy(), 10)

print (X_train_seq.shape, y_train_seq.shape)

(10089, 10, 3) (10089,)

In [48]:
split_point = int(0.8 * len(dfs))

X_train = X_seq[:split_point]
X_test = X_seq[split_point:]
y_train = y_seq[:split_point]
y_test = y_seq[split_point:] 

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(8078, 10, 3) (8078,)
(2011, 10, 3) (2011,)

-------

In [49]:
from keras.models import Sequential
from keras.layers import SimpleRNN, Dense

model = Sequential()
model.add(SimpleRNN(units=32, input_shape=(10, 3), activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1))

model.compile(loss='mse', optimizer=tf.optimizers.Adam(learning_rate=0.001), metrics=['mse'])
model.summary()

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/keras/src/layers/rnn/rnn.py:200: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ simple_rnn_2 (SimpleRNN)        │ (None, 32)             │         1,152 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 8)              │           264 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │             9 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,425 (5.57 KB)

 Trainable params: 1,425 (5.57 KB)

 Non-trainable params: 0 (0.00 B)

In [50]:
model.fit(X_train_seq, y_train_seq,
          epochs=50)

Epoch 1/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 0.0529 - mse: 0.0529
Epoch 2/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0134 - mse: 0.0134
Epoch 3/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0085 - mse: 0.0085
Epoch 4/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0080 - mse: 0.0080
Epoch 5/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0073 - mse: 0.0073
Epoch 6/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0070 - mse: 0.0070
Epoch 7/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0062 - mse: 0.0062
Epoch 8/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0067 - mse: 0.0067
Epoch 9/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0067 - mse: 0.0067
Epoch 10/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0057 - mse: 0.0057
Epoch 11/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0061 - mse: 0.0061
Epoch 12/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0062 - mse: 0.0062
Epoch 13/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0063 - mse: 0.0063
Epoch 14/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0056 - mse: 0.0056
Epoch 15/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0062 - mse: 0.0062
Epoch 16/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0058 - mse: 0.0058
Epoch 17/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0062 - mse: 0.0062
Epoch 18/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0060 - mse: 0.0060
Epoch 19/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0061 - mse: 0.0061
Epoch 20/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0058 - mse: 0.0058
Epoch 21/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0058 - mse: 0.0058
Epoch 22/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0064 - mse: 0.0064
Epoch 23/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0059 - mse: 0.0059
Epoch 24/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0055 - mse: 0.0055
Epoch 25/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0055 - mse: 0.0055
Epoch 26/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0055 - mse: 0.0055
Epoch 27/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0054 - mse: 0.0054
Epoch 28/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0056 - mse: 0.0056
Epoch 29/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0055 - mse: 0.0055
Epoch 30/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0056 - mse: 0.0056
Epoch 31/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0054 - mse: 0.0054
Epoch 32/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0057 - mse: 0.0057
Epoch 33/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0057 - mse: 0.0057
Epoch 34/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0059 - mse: 0.0059
Epoch 35/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0061 - mse: 0.0061
Epoch 36/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0062 - mse: 0.0062
Epoch 37/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0057 - mse: 0.0057
Epoch 38/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0055 - mse: 0.0055
Epoch 39/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0062 - mse: 0.0062
Epoch 40/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0054 - mse: 0.0054
Epoch 41/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0057 - mse: 0.0057
Epoch 42/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0054 - mse: 0.0054
Epoch 43/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0053 - mse: 0.0053
Epoch 44/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0056 - mse: 0.0056
Epoch 45/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0060 - mse: 0.0060
Epoch 46/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0058 - mse: 0.0058
Epoch 47/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0057 - mse: 0.0057
Epoch 48/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0056 - mse: 0.0056
Epoch 49/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0055 - mse: 0.0055
Epoch 50/50
316/316 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 0.0054 - mse: 0.0054

In [52]:
print (model.evaluate(X_train_seq, y_train_seq))
# model.evaluate(X_test_seq, y_train_seq)

316/316 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.0055 - mse: 0.0055
[0.004958098754286766, 0.004958098754286766]